header, footer {
  text-align: center;
  text-transform: uppercase;
  color: #0000FF;
  height: 44px;
  vertical-align: middle;
  background-color: #ADD8E6;
}

footer {
/*  position: fixed;
  bottom: 0;
  width: 100%;*/
}

nav {
  width: 30%;
  float: left;
  /*padding: 10px;*/
  text-align: left;
  color: #2D2BDC;
  background-color: #F0E68C;
}

article {
  border: solid green 1px;
  margin-left: 30%;
}
