header, footer {
  width:100%;
  text-align: center;
  text-transform: uppercase;
  color: #0000FF;
  vertical-align: middle;
  background-color: #ADD8E6;
}
/*header {
  height: 44px;
}

footer {
  height: 60px;
}*/

/*#container {
  width:100%;
  background-color: #F0E68C;
  padding: 1px;
}*/

nav {
  width:35%;
  /*width: 200px;*/
  float: left;
  color: #2D2BDC;
}

article {
  width:65%;
  float: left;
  /*margin-left: 200px;
  padding-left: 20px;
  border: solid transparent 1px;*/
  background-color: white;
}
