header {
  text-align: center;
  text-transform: uppercase;
  color: #0000FF;
  padding: 20px;
  background-color: #ADD8E6;
}

content-bar {
  /*color: red;
  sdvfdvdfs
  sdvfdsvfsd
  fdsvsdf

  */
}
