header {
  font: normal bold large Times-New-Roman;
  text-align: center;
  text-transform: uppercase;
  color: #0000FF;
  background-color: #ADD8E6;
  padding:1em;
  vertical-align: middle;
}

/*#container {
  width: 100%;
  background-color: #F0E68C;
  padding: 1px;
}*/

nav {
  float: left;
  background-color: #F0E68C;
}

article {
  background: url("football.png") repeat-y right top fixed;
  background-size: 10%;
  font-family: Regular;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h4{
padding-left: 10%;
}

img {
  margin: 20px;
  float: left;
}

footer {
  font: normal bold large Times-New-Roman;
  text-align: center;
  text-transform: uppercase;
  color: #0000FF;
  background-color: #ADD8E6;
  padding:2em;
  vertical-align: middle;
}

div {
  clear: both;
}
